/*
 * Local test config for running on macOS with Docker
 * Uses the new IMGT-based reference
 */

process {
    resourceLimits = [
        cpus: 8,
        memory: '16.GB',
        time: '4.h'
    ]
}

params {
    config_profile_name        = 'Local test profile'
    config_profile_description = 'Local test with real BAM data using IMGT reference'

    input    = "${projectDir}/test_data/test_samplesheet.csv"
    outdir   = "${projectDir}/test_output"

    // IMGT-based HLA reference (all alleles, all genes)
    fasta    = "${projectDir}/assets/imgt_hla_gen.fasta.gz"
    fastafai = "${projectDir}/assets/imgt_hla_gen.fasta.gz.fai"

    // Disable hapster for this test
    run_hapster = false
}

docker {
    runOptions = '-u $(id -u):$(id -g) -v /Users:/Users'
}
